In [1]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

def clean_column_names(df):
    columns = []
    for each in df.columns:
        if "+/-" in each:
            each = each.replace("+/-", "_plus_minus")
        if "#" in each:
            each = each.replace("#", "num")
        if "/" in each:
            each = each.replace("/", "_per_")
        if "%" in each:
            each = each.replace("%", "_pct")
        if "-" in each:
            each = each.replace("-", "_")
        if ":" in each:
            each = each.replace(":", "_")
        if "+" in each:
            each = each.replace("+", "_and_")
        
        each = each.lower()
        
        columns.append(each)
        
    df.columns = columns

    df["squad"] = df["squad"].str.lower()
    
    return df
    

def flatten_df(df):
    try:
        #Flatten the dataframe by reducing the levels of the columns
        df.columns = ["_".join([each.strip().replace(" ", "") for each in i]) if "Unnamed" not in i[0] else i[-1].strip().replace(" ", "_") for i in df.columns]
    except Exception as e:
        #Error in Flattening the dataframe
        print("Error occurred unable to flatten the dataframe.")
        print(f"Error message: {str(e)}")
    finally:
        #Return the DataFrame
        return df

def transform_combine(raw_squad_df, raw_opponent_df):
    #Squad Dataframe: Flatten and Creating the Value colum
    raw_squad_df = flatten_df(raw_squad_df.copy())
    raw_squad_df.loc[:, "Value"] = "squad"
    
    #Opponent Dataframe: Flatten, removing the string "VS", and Creating the Value colum
    raw_opponent_df = flatten_df(raw_opponent_df.copy())
    raw_opponent_df.loc[:, "Squad"] = raw_opponent_df.loc[:, "Squad"].apply(lambda x: " ".join(x.split()[1:]))
    raw_opponent_df.loc[:, "Value"] = "opponent"
    
    try:
        #Appending the dataframes
        stats_df = raw_opponent_df.append(raw_squad_df, ignore_index=True)
    
    except Exception as e:
        #Error in Flattening the dataframe
        print("Error occurred unable to append the dataframes.")
        print(f"Error message: {str(e)}")
    
    finally:
        #Return the Appended DataFrame
        return stats_df

def pushToDB(table_name, df, conn, if_exists = "replace", index = False):
    
    df = clean_column_names(df.copy())
    
    # Begin a transaction
    transaction = conn.begin()
    
    try:
        # Push the DataFrame to PostgreSQL
        df.to_sql(name= table_name, con= conn, if_exists= if_exists, index= index)
        
        # Commit the transaction
        transaction.commit()
        print(f"{table_name} has been successfully committed.")
        
    except Exception as e:
        # Rollback the transaction if there's an error
        transaction.rollback()
        
        print(f"Error occurred in uploading {table_name}. Transaction has been rolled back.")
        print(f"Error message: {str(e)}")

#Link to Premier League
PL_STATS_URL = r"https://fbref.com/en/comps/9/Premier-League-Stats"
PL_SCORES_FIXTURES_URL = r"https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures"

print("Data Extract Phase Started....")

raw_scores_and_fixtures = pd.read_html(PL_SCORES_FIXTURES_URL)[0]

all_tables = pd.read_html(PL_STATS_URL)

raw_regular_season_overall = all_tables[0]
raw_regular_season_home_away = all_tables[1]

raw_squad_standard_stats_squad = all_tables[2]
raw_squad_standard_stats_opponent = all_tables[3]

raw_squad_goalkeeping_squad = all_tables[4]
raw_squad_goalkeeping_opponent = all_tables[5]

raw_squad_advanced_goalkeeping_squad = all_tables[6]
raw_squad_advanced_goalkeeping_opponent = all_tables[7]

raw_squad_shooting_squad = all_tables[8]
raw_squad_shooting_opponent = all_tables[9]

raw_squad_passing_squad = all_tables[10]
raw_squad_passing_opponent = all_tables[11]

raw_squad_pass_types_squad = all_tables[12]
raw_squad_pass_types_opponent = all_tables[13]

raw_squad_goal_shot_creation_squad = all_tables[14]
raw_squad_goal_shot_creation_opponent = all_tables[15]

raw_squad_defensive_actions_squad = all_tables[16]
raw_squad_defensive_actions_opponent = all_tables[17]

raw_squad_possession_squad = all_tables[18]
raw_squad_possession_opponent = all_tables[19]

raw_squad_playing_time_squad = all_tables[20]
raw_squad_playing_time_opponent = all_tables[21]

raw_squad_miscellaneous_stats_squad = all_tables[22]
raw_squad_miscellaneous_stats_opponent = all_tables[23]

print("Data Extract Phase Ended....")

print("Data Transformation Phase Started....")

print("Regular Season Transformations....")
raw_regular_season_home_away = flatten_df(raw_regular_season_home_away.copy())
raw_regular_season_overall.columns = ["Overall_"+i.strip().replace(" ", "") if i not in ["Rk", "Squad"] else i for i in raw_regular_season_overall.columns]
regular_season = raw_regular_season_overall.merge(right=raw_regular_season_home_away, how='inner', on=["Rk", "Squad"], validate="one_to_one")

print("Standard Stats Transformations....")
standard_stats = transform_combine(raw_squad_df= raw_squad_standard_stats_squad.copy(), raw_opponent_df= raw_squad_standard_stats_opponent.copy())

print("Goalkeeping Stats Transformations....")
goalkeeping_stats = transform_combine(raw_squad_df= raw_squad_goalkeeping_squad.copy(), raw_opponent_df= raw_squad_goalkeeping_opponent.copy())

print("Advanced Goalkeeping Stats Transformations....")
advanced_goalkeeping_stats = transform_combine(raw_squad_df= raw_squad_advanced_goalkeeping_squad.copy(), raw_opponent_df= raw_squad_advanced_goalkeeping_opponent.copy())

print("Shooting Stats Transformations....")
shooting_stats = transform_combine(raw_squad_df= raw_squad_shooting_squad.copy(), raw_opponent_df= raw_squad_shooting_opponent.copy())

print("Passing Stats Transformations....")
passing_stats = transform_combine(raw_squad_df= raw_squad_passing_squad.copy(), raw_opponent_df= raw_squad_passing_opponent.copy())

print("Passing Types Stats Transformations....")
passing_types_stats = transform_combine(raw_squad_df= raw_squad_pass_types_squad.copy(), raw_opponent_df= raw_squad_pass_types_opponent.copy())

print("Goal Shot Creation Stats Transformations....")
goal_shot_creation_stats = transform_combine(raw_squad_df= raw_squad_goal_shot_creation_squad.copy(), raw_opponent_df= raw_squad_goal_shot_creation_opponent.copy())

print("Defensive Action Stats Transformations....")
defensive_action_stats = transform_combine(raw_squad_df= raw_squad_defensive_actions_squad.copy(), raw_opponent_df= raw_squad_defensive_actions_opponent.copy())

print("Posession Stats Transformations....")
possession_stats = transform_combine(raw_squad_df= raw_squad_possession_squad.copy(), raw_opponent_df= raw_squad_possession_opponent.copy())

print("Playing Time Stats Transformations....")
playing_time_stats = transform_combine(raw_squad_df= raw_squad_playing_time_squad.copy(), raw_opponent_df= raw_squad_playing_time_opponent.copy())

print("Miscellaneous Stats Transformations....")
miscellaneous_stats = transform_combine(raw_squad_df= raw_squad_miscellaneous_stats_squad.copy(), raw_opponent_df= raw_squad_miscellaneous_stats_opponent.copy())

print("Data Transformation Phase Ended....")

database="football-db"
user='user'
password='password'
host='192.168.59.101'
port= '30432'

try:
    print("Establishing Connection with DB....")
    db = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
    conn = db.connect()
    print("Successfully Established Connection with DB....")
    
except Exception as e:
    print("Unable to Establish Connection with DB....")
    raise(e)


print("Data Loading Phase Started....")

#Creating/Updating the regular_season database
pushToDB(table_name="regular_season", df=regular_season, conn=conn)

#Creating/Updating the standard_stats database
pushToDB(table_name="standard_stats", df=standard_stats, conn=conn)

#Creating/Updating the goalkeeping_stats database
pushToDB(table_name="goalkeeping_stats", df=goalkeeping_stats, conn=conn)

#Creating/Updating the advanced_goalkeeping_stats database
pushToDB(table_name="advanced_goalkeeping_stats", df=advanced_goalkeeping_stats, conn=conn)

#Creating/Updating the shooting_stats database
pushToDB(table_name="shooting_stats", df=shooting_stats, conn=conn)

#Creating/Updating the passing_stats database
pushToDB(table_name="passing_stats", df=passing_stats, conn=conn)

#Creating/Updating the passing_types_stats database
pushToDB(table_name="passing_types_stats", df=passing_types_stats, conn=conn)

#Creating/Updating the goal_shot_creation_stats database
pushToDB(table_name="goal_shot_creation_stats", df=goal_shot_creation_stats, conn=conn)

#Creating/Updating the defensive_action_stats database
pushToDB(table_name="defensive_action_stats", df=defensive_action_stats, conn=conn)

#Creating/Updating the possession_stats database
pushToDB(table_name="possession_stats", df=possession_stats, conn=conn)

#Creating/Updating the playing_time_stats database
pushToDB(table_name="playing_time_stats", df=playing_time_stats, conn=conn)

#Creating/Updating the miscellaneous_stats database
pushToDB(table_name="miscellaneous_stats", df=miscellaneous_stats, conn=conn)


# Close the connection
conn.close()

print("Data Loading Phase Ended....")

Data Extract Phase Started....
Data Extract Phase Ended....
Data Transformation Phase Started....
Regular Season Transformations....
Standard Stats Transformations....
Goalkeeping Stats Transformations....
Advanced Goalkeeping Stats Transformations....
Shooting Stats Transformations....
Passing Stats Transformations....
Passing Types Stats Transformations....
Goal Shot Creation Stats Transformations....
Defensive Action Stats Transformations....
Posession Stats Transformations....
Playing Time Stats Transformations....
Miscellaneous Stats Transformations....
Data Transformation Phase Ended....
Establishing Connection with DB....
Successfully Established Connection with DB....
Data Loading Phase Started....
regular_season has been successfully committed.
standard_stats has been successfully committed.
goalkeeping_stats has been successfully committed.
advanced_goalkeeping_stats has been successfully committed.
shooting_stats has been successfully committed.
passing_stats has been successfully committed.
passing_types_stats has been successfully committed.
goal_shot_creation_stats has been successfully committed.
defensive_action_stats has been successfully committed.
possession_stats has been successfully committed.
playing_time_stats has been successfully committed.
miscellaneous_stats has been successfully committed.
Data Loading Phase Ended....

,Squad,#_Pl,90s,Tackles_Tkl,Tackles_TklW,Tackles_Def3rd,Tackles_Mid3rd,Tackles_Att3rd,Challenges_Tkl,Challenges_Att,Challenges_Tkl%,Challenges_Lost,Blocks_Blocks,Blocks_Sh,Blocks_Pass,Int,Tkl+Int,Clr,Err,Value
0,Arsenal,26,38.0,668,387,402,202,64,290,641,45.2,351,516,186,330,360,1028,841,18,opponent
1,Aston Villa,26,38.0,650,370,305,237,108,279,571,48.9,292,413,127,286,332,982,635,9,opponent
2,Bournemouth,31,38.0,711,426,318,271,122,344,665,51.7,321,404,96,308,279,990,563,13,opponent
3,Brentford,25,38.0,583,330,275,221,87,248,512,48.4,264,354,86,268,291,874,822,11,opponent
4,Brighton,29,38.0,603,350,312,220,71,279,622,44.9,343,505,160,345,417,1020,777,24,opponent
5,Chelsea,32,38.0,733,429,373,260,100,352,727,48.4,375,474,145,329,374,1107,792,10,opponent
6,Crystal Palace,26,38.0,771,436,370,299,102,314,681,46.1,367,449,136,313,366,1137,659,13,opponent
7,Everton,28,38.0,596,365,270,258,68,296,601,49.3,305,384,122,262,275,871,727,12,opponent
8,Fulham,29,38.0,617,362,280,258,79,238,507,46.9,269,447,116,331,340,957,754,8,opponent
9,Leeds United,29,38.0,749,427,379,292,78,328,596,55.0,268,509,140,369,391,1140,740,11,opponent
10,Leicester City,28,38.0,558,336,263,217,78,245,536,45.7,291,475,112,363,339,897,600,15,opponent
11,Liverpool,28,38.0,694,391,368,254,72,282,602,46.8,320,501,164,337,410,1104,995,22,opponent
12,Manchester City,24,38.0,537,298,305,183,49,239,573,41.7,334,457,163,294,327,864,818,14,opponent
13,Manchester Utd,26,38.0,631,361,312,226,93,338,655,51.6,317,554,165,389,415,1046,616,14,opponent
14,Newcastle Utd,27,38.0,685,421,356,260,69,322,671,48.0,349,488,167,321,341,1026,854,12,opponent
15,Nott'ham Forest,33,38.0,510,301,197,210,103,235,489,48.1,254,355,88,267,286,796,646,16,opponent
16,Southampton,36,38.0,718,418,311,306,101,318,676,47.0,358,445,114,331,318,1036,718,9,opponent
17,Tottenham,29,38.0,644,393,290,244,110,288,591,48.7,303,502,150,352,322,966,717,11,opponent
18,West Ham,25,38.0,621,372,285,248,88,266,508,52.4,242,453,142,311,292,913,816,12,opponent
19,Wolves,32,38.0,629,360,281,225,123,302,677,44.6,375,424,114,310,317,946,712,12,opponent
20,Arsenal,26,38.0,568,343,238,212,118,249,506,49.2,257,362,86,276,237,805,599,22,squad
21,Aston Villa,26,38.0,633,338,305,251,77,313,646,48.5,333,438,118,320,324,957,714,13,squad
22,Bournemouth,31,38.0,618,371,316,249,53,256,606,42.2,350,499,170,329,353,971,1027,10,squad
23,Brentford,25,38.0,587,337,270,228,89,253,599,42.2,346,456,168,288,341,928,822,12,squad
24,Brighton,29,38.0,616,340,270,242,104,266,560,47.5,294,392,104,288,303,919,432,15,squad
25,Chelsea,32,38.0,740,445,363,267,110,333,654,50.9,321,466,108,358,341,1081,661,20,squad
26,Crystal Palace,26,38.0,690,421,354,246,90,281,532,52.8,251,463,119,344,359,1049,807,5,squad
27,Everton,28,38.0,708,424,362,257,89,309,611,50.6,302,510,180,330,390,1098,874,17,squad
28,Fulham,29,38.0,623,349,294,228,101,299,578,51.7,279,455,125,330,340,963,749,13,squad
29,Leeds United,29,38.0,840,480,376,343,121,412,863,47.7,451,536,131,405,392,1232,734,18,squad
30,Leicester City,28,38.0,700,412,345,292,63,308,669,46.0,361,517,170,347,367,1067,777,11,squad
31,Liverpool,28,38.0,590,370,228,250,112,281,648,43.4,367,350,74,276,333,923,568,19,squad
32,Manchester City,24,38.0,471,272,185,198,88,212,455,46.6,243,339,95,244,223,694,402,8,squad
33,Manchester Utd,26,38.0,658,400,343,231,84,301,598,50.3,297,496,146,350,352,1010,771,10,squad
34,Newcastle Utd,27,38.0,607,360,268,254,85,307,642,47.8,335,448,116,332,333,940,680,10,squad
35,Nott'ham Forest,33,38.0,659,387,380,201,78,296,584,50.7,288,500,156,344,349,1008,944,6,squad
36,Southampton,36,38.0,713,426,377,279,57,297,609,48.8,312,542,165,377,428,1141,852,10,squad
37,Tottenham,29,38.0,619,353,325,215,79,275,574,47.9,299,428,148,280,340,959,762,19,squad
38,West Ham,25,38.0,607,335,289,226,92,269,558,48.2,289,415,139,276,408,1015,810,10,squad
39,Wolves,32,38.0,661,370,364,222,75,286,609,47.0,323,497,175,322,279,940,817,18,squad